body {
    padding-top: 56px;
}

#content {
    width: 100%;
    text-align: center;
}

#content > div {
    display: inline-block;
}

/* Bootstrap */
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-blue { background-color: var(--blue); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/* Map */
#map path {
    fill: none;
    stroke: #333;
    stroke-width: .5px;
}
#borders path {
    stroke-width: 1.25px;
}
.land-border {
    stroke-width: 2px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}
.state-border  {
    stroke: black;
}

.district-border {
    stroke: rgba(64, 64, 64, .5);
}

.site {
    stroke-width: .5px;
    stroke: #333;
    fill: #9cf;
}

/* Tool Tip */
.hidden {
    display: none;
}

#tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    width: 200px
}
